.weekmanager {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.weekmanager .weekmanager__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weeklist {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.weeklist .manage_button {
	background: var(--white);
	color: var(--black);
	padding: 0.35rem 1rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	font-weight: 500;
	cursor: pointer;
	margin-right: 0.5rem;
}

.weeklist .manage_button.delete_all {
	background: #ab0022;
	color: #fff;
}

.weeklist .deleteButton {
	background: #ab0022;
	color: #fff;
	padding: 0.125rem 0.51rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	font-weight: 500;
	cursor: pointer;
	margin-left: 0.5rem;
}

.weeklist p {
	line-height: normal;
}

.event_form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.event_form .form_group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.event_form .form_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}
.event_form .form_row .form_group {
	flex: 1;

	@media screen and (max-width: 768px) {
		flex: unset;
		width: 100%;
	}
}

.event_form .form_row .form_group label {
	font-size: 0.9rem;
}

.event_form .form_row .form_group input,
.event_form .form_row .form_group select {
	height: 2.25rem;
	padding: 0 1rem;
	background: #fff;
	border: 1px solid var(--gray30);
	border-radius: 0.5rem;
	font-size: 1rem;
}

.event_form .form_row .form_group input:focus,
.event_form .form_row .form_group select:focus {
	outline: none;
	border-color: var(--primary);
	box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.event_form .form_row .form_group input[type="checkbox"] {
	width: 1.25rem;
	height: 2.25rem;
}

.event_form button {
	width: 100%;
	height: 2.5rem;
	background: var(--brand);
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
}
