@import url(./normalize.css);

/* NEW ROOT */
:root {
	/* Font sizes */
	--font-size-base: 16px; /* Base font size */
	--font-size-sm: 0.875rem; /* Small font size */
	--font-size-lg: 1.125rem; /* Large font size */
	--font-size-xl: 1.25rem; /* Extra large font size */

	/* Line heights */
	--line-height-base: 1.5;
	--line-height-tight: 1.25;

	/* Base colors */
	--white: #ffffff;
	--black: #161121;

	/* Color palette */
	--primary: #338c26;
	--primary-content: #c8efc2;
	--primary-dark: #24641b;
	--primary-light: #42b431;

	--secondary: #fcc917;
	--secondary-content: #140f00;
	--secondary-dark: #ddad03;
	--secondary-light: #fdd549;

	--background: #edf4ec;
	--foreground: #fafcfa;
	--border: #d9e7d7;

	--copy: #1f301d;
	--copy-light: #53804d;
	--copy-lighter: #77a970;

	--success: #268c26;
	--warning: #8c8c26;
	--error: #8c2626;
	--success-content: #c2efc2;
	--warning-content: #000000;
	--error-content: #efc2c2;
}

html {
	font-size: var(--font-size-base);
}

body {
	background: var(--background);
	color: var(--copy);
	font-family: var(--font-sans);
}

/* Common UI elements styling */
p a {
	color: var(--primary);
	text-decoration: none;
	transition: color 75ms ease;
}

p a:hover {
	color: var(--primary-light);
}

::-webkit-scrollbar-track {
	background: var(--foreground);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-content);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-light);
}

/* Printing */
@media print {
	body {
		background: var(--white);
		color: var(--black);
	}

	main {
		width: 100%;
		max-width: calc(100vw - 1rem);
		padding: 0 0.5rem;
	}
}
