@import url(./normalize.css);

:root {
	--clr-0: #fff;
	--clr-50: #f4fcf3;
	--clr-200: #d9f4d5;
	--clr-300: #a6e49d;
	--clr-400: #68d259;
	--clr-500: #41b230;
	--clr-700: #2f8424;
	--clr-800: #1f5617;
	--clr-900: #0f280b;

	--border: #e4e7e4;
	--muted: #f4f5f4;
	--muted_foreground: #727a71;

	--app_width: 800px;
}

body {
	background: var(--muted);
	color: var(--clr-950);
}
